body{
font-family:Arial;
background:#111;
color:#ddd;
margin:20px;
}

.layout{
display:grid;
grid-template-columns:300px 1fr 350px;
gap:20px;
}

.panel{
background:#1b1b1b;
padding:15px;
border:1px solid #444;
}

#console{
background:black;
height:350px;
overflow:auto;
padding:10px;
font-family:monospace;
}

.info{color:#8cf}
.warn{color:#ffb347}
.error{color:#ff6666}
.suggest{color:#9cff9c}

svg{
background:#0d0d0d;
border:1px solid #444;
}
